/*achtergrond body wordt lichtgrijs*/
body {
  background-color:rgb(226, 225, 222) ;
}
/* past het lettertype en te tekstgrote aan*/ 
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;

}

/* zorgt ervoor dat de tekst in de lettergrote en het kopje h3 staat zwart is*/
h3 {
  color:rgb(2, 0, 17);

}
/* dit bepaalt hoe mijn menu balk eruit ziet*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #808080;
}

/* dit deel zorgt ervoor dat alle kopjes in mijn menu balk links staan*/
li {
  float: left;
}
/* dit deel is voor de opmaak van de tekst in de menu balk*/
li a {
  color: white;
  text-align: center;
  display: block;
  padding: 8px;
  text-decoration: none;
}

/* Style the header */
.header {
  background-color: #a1a1a1;
  padding: 8px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

/* Style the footer */
.footer {
  background-color: #a1a1a1;
  padding: 4px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-small;
}

/* dit deel voegt een achtergrond afbeelding toe*/
body {
  background-image: url("achtergrondwebsite.jpg");
  background-color: rgb(226, 225, 222);
}
