body {
  background-color:rgb(226, 225, 222) ;

}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;

}

h3 {
  color:rgb(8, 1, 112);

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  text-align: center;
  display: block;
  padding: 8px;
  background-color: #808080;
}