/*achtergrond body wordt lichtgrijs*/
body {
  background-color:rgb(226, 225, 222) ;
}
/* past het lettertype en te tekstgrote aan*/ 
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;

}

/* zorgt ervoor dat de tekst in de lettergrote en het kopje h3 staat zwart is*/
h3 {
  color:rgb(2, 0, 17);


/* dit deel zorgt ervoor dat alle kopjes in mijn menu balk links staan*/
li {
  float: left;
}
/* dit deel is voor de opmaak van de tekst in de menu balk*/
li a {
  color: white;
  text-align: center;
  display: block;
  padding: 8px;
  text-decoration: none;
}

/* Style the header */
.header {
  background-color: #a1a1a1;
  padding: 8px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

/* Style the footer */
.footer {
  background-color: #a1a1a1;
  padding: 4px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-small;
}

/* dit deel voegt een achtergrond afbeelding toe*/
body {
  background-image: url("achtergrondwebsite.jpg");
  background-color: rgb(226, 225, 222);
}


  body {
    font-family: georgia, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: grey;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: darkgrey ;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f9f9f9;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
